body, table {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.topic {
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(15,20,53,0.28);
}

.dm-height-md {
    height: 60px;
    line-height: 60px;
}

.demo-name {
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: #191F5D;
    letter-spacing: 0.47px;
}

.topic .active {
    background: #649BFB !important;
    color: #FFFFFF !important;
    border-color: #649BFB !important;
}

.topic .btn {
    width: 75px;
    height: 28px;
    padding: 3px;
}

.topic .dropdown-toggle {
    width: 70px;
    background: #F6F7F9;
    border-color: #E0E3EB;
    color: #191F5D;
}
.display-block {
    display: block;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.d-flex {
    display: flex;
}

.pd-left-md {
    padding-left: 20px;
}

.mg-left-md {
    margin-left: 15px;
}

.mg-bottom-md {
    margin-bottom: 15px;
}

a {
    cursor: pointer;
}

.search {
    height: 120px;
    background: url('../image/search_bg.jpg') #424379;
    /* opacity: 0.8; */
    padding: 0;
    margin: 0;
}

.input-style {
    width: 380px;
    height: 50px;
}

.button-style {
    width: 100px;
    height: 50px;
    background: #649BFB;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.33px;
    border: none;
}

.card-item-style {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 20px 0 rgba(192,196,235,0.30);
    position: relative;
}

.item-title {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #191F5D;
    letter-spacing: 0.3px;
}

.item-title img {
    display: inline-block;
    margin-top: -5px;
}

.city-adress {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #7176A5;
    letter-spacing: 0.23px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #F5F6FF;
}

.table-striped>tbody>tr {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0.23px;
}

.table-style-2 td:nth-child(2), .table-style-1 td {
    color: #7176A5;
}

.table-style-1 th {
    padding: 0 10px !important;
}

.table-style-1 th:nth-child(2) {
    border-left: 1px solid #cccccc;
}

.th {
    padding: 0 10px;
}

.desc {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0;
    line-height: 18px;
    padding-bottom: 5px;
}

.time-style {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0.23px;
}

.color-def-one {
    color: #4ebb9d;
}

.color-def-two {
    color: #83bb4e;
}

.color-def-thread {
    color: #c7a733;
}

.color-def-four {
    color: #c33737;
}

.color-def-five {
    color: #b31a8f;
}

.width-md {
    display: inline-block;
    width: 30px;
}

.line-height-md {
    line-height: 20px;
}

.input-div {
    padding-top: 35px;
    width: 480px;
    margin: 0 auto;
}

.sub-text-div {
    padding-top: 15px;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #191F5D;
    letter-spacing: 0.4px;
    height: 70px;
}

.sub-tab-div {
    padding-top: 15px;
}

.sub-tab-div table td {
    padding: 0 10px !important;
    vertical-align: middle !important;
    height: 60px;
}

.for-list-group-div {
    margin: 10px 5% 0 5%;
}

.for-list-group-div li {
    text-align: center;
    padding: 15px 0 !important;
}

.weather-temp-txt {
    font-family: Roboto-Medium;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-shadow: 0 2px 6px rgba(0,0,0,0.20);
}

.middle {
    vertical-align: middle !important;
}

.middle span {
    margin-right: 15px;
}

.weather-text-shadow {
    font-weight: bolder;
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87
}

.weather-text {
    position: absolute;
    top: 5px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.2px;
    padding: 10px;
}

.weather-img-style {
    width: 100%;
    padding: 10px 0;
}

.weather {
    position: relative;
}

.top-button-div {
    margin-top: 20px;
    margin-bottom: 10px;
}

.chart-select-div {
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

.foot-txt-div {
    text-align: center;
    margin: 5px 20px;
    /* float: right; */
    font-size: smaller;
}
.foot-lanuage {
    margin: 15px 20px;
    float: left;
    font-size: smaller;
    cursor: pointer;
}
.font-smaller {
    font-size: smaller
}

.wm-font-bolder {
    font-weight: bolder;
}

.uvi-div {
    margin-top: -10px;
    color: #7176A5;
}

.uvi-new-span {
    font-style: italic;
    font-size: smaller;
    font-weight: bolder;
    color: #F77C47;
}

.font-smaller-color-grey {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #9DA6BB;
    letter-spacing: 0;
    line-height: 18px;
}

.font-def-type-1 {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #0A82FF;
    letter-spacing: 0.27px;
}

.font-def-type-2 {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #C33737;
    letter-spacing: 0.27px;
}

.main-page {
    position: relative;
}

.ai-sider {
    position: fixed;
    top: 250px;
    right: 30px;
    width: 50px;
    height: 175px;
    /* background-image: linear-gradient(120deg, #3C91D5 0%, #294495 100%);
    box-shadow: 0 2px 20px 0 rgba(212,214,228,0.50);
    border-radius: 25px 25px 8px 8px; */
    background: url('../image/ai/enter_bg.png') -20px -18px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.ai-sider-icon {
    padding-top: 15px;
}

.ai-sider-label {
    width: 20px;
    margin: 0 auto;
    /* font-family: PingFangSC-Regular; */
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0 2px 6px rgba(25,31,93,0.50);
    overflow: hidden;
}

.ai-topic {
    width: inherit;
    height: 60px;
    background: #394979;
    box-shadow: 0 4px 20px 0 rgba(212,214,228,0.50);
}

.ai-topic-title {
    display: flex;
    align-items: center;
    /* font-family: PingFangSC-Regular; */
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    line-height: 60px;
}

.ai-topic-title img {
    padding-right: 10px;
}

@media (min-width: 1280px) {
    .ai-container {
        width: 1230px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.ai-content {
    margin: 20px;
}

.ai-content-card {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 2px 20px 0 rgba(192,196,235,0.30);
    min-height: 600px;
    min-width: 700px;
}

.ai-content-title {
    /* font-family: PingFangSC-Medium; */
    font-size: 20px;
    color: #191F5D;
    letter-spacing: 0.33px;
}

.ai-content-desc {
    /* font-family: PingFangSC-Regular; */
    font-size: 14px;
    color: #7176A5;
    letter-spacing: 0;
    padding: 10px 0 15px 0;
}

.ai-content-add {
    position: relative;
    width: inherit;
    height: 380px;
    padding-top: 150px;
    border: 1px dashed #9DA6BB;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #649BFB;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.ai-content-add:hover {
    border: 1px dashed #649BFB;
}

.ai-content-image {
    clear: both;
    overflow: hidden;
}

#add-image-file {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.ai-ct-image-left {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ai-ct-img-selected {
    width: 90px;
    height: 24px;
    padding-left: 10px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #191F5D url('../theme/image/ai/selected.png');
    border-radius: 0 0 70px 0;
}

.ai-ct-img-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(25,31,93,0.40);
}

.ai-ct-img-del {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.ai-ct-img-del:hover {
    border: 1px solid #fff;
    border-radius: 12px;
    top: 9px;
    right: 9px;
}

.ai-ct-image-right {
    float: left;
    margin-bottom: 20px;
}

.ai-ct-img-tag-title {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #191F5D;
    margin-bottom: 10px;
}

.ai-check-area {
    width: 480px;
    height: 290px;
    background: #F1F6FE;
}

.ai-no-data {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7176A5;
    letter-spacing: 0;
    text-align: center;
}

.ai-no-data img {
    margin-bottom: 10px;
    padding-top: 100px;
}

.ai-check-btn {
    background: #649BFB;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    margin-top: 18px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
}

.ai-ct-image-bottom {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #191F5D;
}

.ai-ct-img-view {
    padding: 10px 15px 0 15px;
    cursor: pointer;
}

.ai-ct-img-view img {
    margin: 5px;
}

.ai-tags {
    width: 102%;
    height: 235px;
    padding: 10px 5px;
    overflow: auto;
}

.ai-tag-card {
    background: #FFFFFF;
    border: 1px solid #E0E3EB;
    border-radius: 2px;
    padding: 5px 8px;
    margin: 5px;
    width: 146px;
    display: inline-flex;
}

.ai-tags .ai-tag-card:nth-child(3n) {
    margin-right: 0;
}

.ai-tag-label {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.ai-tag-num {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #649BFB;
    letter-spacing: 0;
    text-align: right;
    display: inline-block;
    width: 40px;
}

.ai-view-img {
    width: 150px;
    height: 32px;
    margin: 10px auto;
    background: #649BFB;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.again-check-btn {
    border: 1px solid #C2C9D8;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    margin-top: 18px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #191F5D;
    letter-spacing: 0;
    cursor: pointer;
}

.ai-ct-scan {
    position: absolute;
    top: 40px;
    left: 40px;
    /* opacity: 0.5; */
    border: 1px solid #FFFFFF;
}

@-webkit-keyframes animals {
    from {
        -webkit-transform: translateX(0%);
    }
    to {
        -webkit-transform: translateX(295%);
    }
}
@keyframes animals {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(295%);
    }
}

.ai-ct-scan-opt {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: animals 1s linear infinite;
    animation: animals 1s linear infinite;  
}

.ai-detail-topic {
    font-family: PingFangSC-Medium;
    font-size: 24px;
    color: #191F5D;
    letter-spacing: 0.4px;
    line-height: 34px;
    clear: both;
}

.ai-detail-topic > div {
    margin-bottom: 10px;
}

.ai-detail-addr {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7176A5;
    letter-spacing: 0;
    text-align: center;
    line-height: 20px;
}

.ai-detail-big-img {
    width: 780px;
    height: 400px;
    margin-right: 10px;
    float: left;
}

.ai-detail-small-img {
    width: 370px;
    height: 400px;
    float: left;
}

.ai-detail-small-img img {
    margin-bottom: 10px;
}

.ai-detail-desc {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0;
    line-height: 22px;
}

.ai-detail-baseinfo-topic {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #191F5D;
    letter-spacing: 0;
    border-bottom: 1px solid #E0E3EB;
    margin-bottom: 10px;
}

.ai-detail-baseinfo-topic span {
    display: inline-block;
    line-height: 30px;
    border-bottom: 2px solid #649BFB;
}

.ai-detail-baseinfo-desc {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #7176A5;
    letter-spacing: 0;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.ai-detail-intr {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9DA6BB;
    letter-spacing: 0;
}

.ai-detail-intr .row {
    line-height: 30px;
}

.ai-detail-intr .row .col-md-11,
.ai-detail-intr .row .col-md-9 {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #191F5D;
    letter-spacing: 0;
}

.ai-detail-color-1 {
    color: #7176A5;
}

.ai-detail-color-2 {
    color: #649BFB;
}

.ai-go-back {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin-left: 20px;
}

.loading {
    position: fixed;
    width: 100%;
    height: calc(100vh);
    padding-top: 18%;
    text-align: center;
    z-index: 1;
    background-color: rgba(2, 48, 134, 0.3);
}

::-webkit-scrollbar-track-piece {
    background-color: #f8f8f8;
}
::-webkit-scrollbar {
    width:9px;
    height:9px;
}
::-webkit-scrollbar-thumb {
    background-color: #dddddd;
    background-clip: padding-box;
    min-height: 28px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}